@import "tailwindcss";

@theme {
  --color-primary: hsla(209, 94%, 55%, 1);

  --color-title: hsla(228, 28%, 20%, 1);
  --color-paragraph: hsla(207, 21%, 27%, 1);

  --color-input-bg: hsla(0, 0%, 96%, 1);
  --color-input-border: hsla(0, 0%, 91%, 1);
  --color-pattern-border: hsla(0, 0%, 85%, 1);
  --color-placeholder: hsla(250, 12%, 10%, 1);

  --color-overlay: hsla(0, 0%, 0%, 0.5);

  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);

  --spacing-19: 76px;
  --spacing-28: 112px;
  --spacing-37: 148px;

  --shadow-video: 0 5px 25px hsla(0, 0%, 0%, 0.15);
  --shadow-contact-form: 0 13px 19px hsla(0, 0%, 0%, 0.07);
}

@layer base {
  body {
    @apply font-inter;
  }
  h1 {
    @apply text-5xl md:text-6xl lg:text-[64px] xl:text-[70px] 2xl:text-[74px] leading-[55px] md:leading-[70px] lg:leading-[84px] font-normal lg:font-bold tracking-[0.2px] p-2.5;
  }

  h2 {
    @apply text-title text-[48px] leading-[58px] tracking-[0.2px] p-2.5 mb-2;
  }

  h3 {
    @apply text-title text-2xl font-bold leading-[28px] tracking-[0.2px];
  }

  h4 {
    @apply text-xl font-bold leading-[28px];
  }
}

.hero-background {
  background-image: url("/assets/hero-img.webp");
  clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.paragraph-large {
  @apply text-xl lg:text-[28px] text-paragraph lg:leading-[40px] p-2.5 tracking-[0.2px] max-w-[600px] mx-auto;
}
