@import "tailwindcss";

@theme {
  --color-primary: hsla(209, 94%, 55%, 1);

  --color-title: hsla(228, 28%, 20%, 1);
  --color-paragraph: hsla(207, 21%, 27%, 1);

  --input-bg: hsla(0, 0%, 96%, 1);
  --input-border: hsla(0, 0%, 91%, 1);
  --pattern-border: hsla(0, 0%, 85%, 1);

  --color-overlay: hsla(0, 0%, 0%, 0.5);

  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);

  --spacing-19: 76px;
  --spacing-28: 112px;
  --spacing-37: 148px;
}

@layer base {
  h1 {
    @apply text-5xl md:text-6xl lg:text-[64px] xl:text-[70px] 2xl:text-[74px] leading-[55px] lg:leading-[84px] lg:font-bold tracking-[0.2px] p-2.5;
  }
}

.hero-background {
  background-image: url("/images/hero-img.webp");
  clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0 85%, 0 0);
}
